body{
    background-color: #DFF9FB;
}
.top-main-container {
    display: flex;
    height: 570px !important;
}

.main-container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 410px;
    width: 400px;
    margin: 100px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff !important;
}


.stopwatch h6 {
    font-size: 29px;
}

/* .stopwatch h6 ::after {
    content: '';
    width: 50px;
    height: 3px;
    border-radius: 3px;
    background: #000000;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
} */

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 120px;
    margin-top: -40px;
    padding-bottom: 20px;
}

.values #js-values {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 42px;
    /* margin-top: 10px; */
    padding-bottom: 80px;
}

.start button {
    width: 70px;
    height: 30px;
}

.start .strt {
    background-color: #1A73E8;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

.start .reset {
    color: #1A73E8;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.timer {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 410px;
    width: 400px;
    margin: 100px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff !important;
}

.bx-icon {
    margin: 0 auto !important;
}